.navbar {
    background: linear-gradient(90deg, #162345 0%, #000000 100%);
    
}

.navbar-toolbar {
    min-height: 80px;
}

.navbar-title {
    flex-grow: 1;
    text-decoration: none;
    color: #fff;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
}

.navbar-link a {
    color: #fff;
    text-decoration: none;
}